.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html{
  height: 100vh;
}

#root{
  height:  100vh;
}

.ant-anchor-ink::before {
  background-color: transparent;
}

.ant-anchor-link {
  margin: 0 0 0 0;
  padding:0 0 0 0;
}

:where(.css-dev-only-do-not-override-fpg3f5).ant-anchor-wrapper .ant-anchor .ant-anchor-link{
  padding-inline: 0;
  padding-block: 0;
}

/*:where(.css-dev-only-do-not-override-fpg3f5).ant-btn{*/
/*  padding:0 0 0 0;*/
/*}*/

:where(.css-dev-only-do-not-override-fpg3f5).ant-anchor-wrapper:not(.ant-anchor-wrapper-horizontal) .ant-anchor::before {
  border-inline-start: 0;
}